{% load static %}

<!DOCTYPE HTML>
<!-- BEGIN html -->
<html lang = "en">
<head>
		{% if title %}
			<title>{{title}}</title>
		{% else %}
			<title>Razyesh Blog</title>
		{% endif %}

		<!-- Meta Tags -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="description" content="" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

		<!-- Favicon -->
		<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon" />
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

		<!-- Stylesheets -->
		<link type="text/css" rel="stylesheet" href="{% static 'css/reset.min.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'css/portus.min.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'css/themify-icons.min.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'css/weather-icons.min.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'css/main-stylesheet.min.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'css/ot-lightbox.min.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'css/shortcodes.min.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'css/responsive.min.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'css/dat-menu.min.css' %}" />
		<link type="text/css" rel="stylesheet" href="../../fonts.googleapis.com/css810a.css?family=Open+Sans:300,400,600,700,800&amp;subset=latin,latin-ext" />
		<link type="text/css" rel="stylesheet" href='../../fonts.googleapis.com/csse3e5.css?family=Montserrat:400,700' />

		<!-- Demo Only -->
		<link type="text/css" rel="stylesheet" href="{% static 'css/_ot-demo.min.css' %}" />
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.3"></script>

		<!-- Insert the extra link for page here-->
		{% block extra_link %}
		<link href="{% static 'css/home.css' %}" rel="stylesheet">
		{% endblock %}

	<!-- END head -->
	</head>

	<!-- BEGIN body -->
	<body class="ot-menu-will-follow">
		<div class="container">
		<!-- BEGIN .boxed -->
		
			<!-- BEGIN #header -->
			<div id="header">
				<!-- BEGIN #top-menu -->
				<nav id="top-menu">
				
					<!-- BEGIN .wrapper -->
					<div class="wrapper">


					<!-- END .wrapper -->
					</div>

				<!-- END #top-menu -->
				</nav>
				
				<!-- BEGIN .wrapper -->
				<div class="wrapper">

					<div class="header-panels">
						
						<!-- BEGIN .header-logo -->
						<div class="header-logo">
							<a href="index-2.html"><img src="images/logo.png" data-ot-retina="images/logo@2x.png" alt="" /></a>
						<!-- END .header-logo -->
						</div>
						
						<!-- BEGIN .header-socials -->
						<div class="header-socials">
							<a href="#"><i class="fa fa-facebook"></i><span>392</span></a>
							<a href="#"><i class="fa fa-twitter"></i><span>954</span></a>
							<a href="#"><i class="fa fa-google-plus"></i><span>118</span></a>
							<a href="#"><i class="fa fa-rss"></i><span>1.9k</span></a>
						<!-- END .header-socials -->
						</div>
						<iframe src="subscribe" height="180px" width="500px"></iframe>
						
						<!-- BEGIN .header-pob -->
						<div class="header-pob">
							<a href="#" target="_blank"><img src="images/pob-1.jpg" alt="" /></a>
						<!-- END .header-pob -->
						</div>

					</div>
					
				<!-- END .wrapper -->
				</div>


				<!-- BEGIN #main-menu -->
				<nav id="main-menu">

					<a href="#dat-menu" class="dat-menu-button"><i class="fa fa-bars"></i>Show Menu</a>
					<div class="main-menu-placeholder">

						<!-- BEGIN .wrapper -->
						<div class="wrapper">

							
							<ul class="load-responsive" rel="Main Menu">
								<li><a href="{% url 'base' %}">Home</a></li>
								{% for category in categories %}
								<li><a href="{% url 'category-posts' category.id %}">{{category}}</a></li>
								{% endfor %}
								<li><a href="{% url 'video' %}">Video</a></li>
							</ul>
							
						<!-- END .wrapper -->
						</div>
					
					</div>

				<!-- END #main-menu -->
				</nav>
				
				
			<!-- END #header -->
			</div>
			{% block content %}

					<!-- BEGIN .portus-main-content-panel -->
					<div class="paragraph-row portus-main-content-panel">
						<div class="column12">
							<div class="portus-main-content-s-block">

								<aside class="sidebar portus-sidebar-small">
									<div class="theiaStickySidebar">

										<!-- BEGIN .widget -->
										<div class="widget">

											<h3>Nepal</h3>
											<div class="w-article-list-num">
												{% for category in category_nepal%}
												<div class="item">
														<div class="item-header">
																<a href="{% url 'post-detail' category.slug %}"><img src="{{category.image.url}}" alt="" /></a>
															</div>
													<span class="item-num">01</span>
													<div class="item-content">
														
														<h4><a href="{% url 'post-detail' category.slug %}">{{category.title}}</a>
														<div class="item-meta">
															<a href="{% url 'post-detail' category.slug %}"><i class="po po-clock"></i>{{category.datetime}}</a>
														</div>
														<p></p>
													</div>
												</div>
												{% endfor %}
											</div>

										<!-- END .widget -->
										</div>

									</div>
								</aside>

								<aside class="sidebar portus-sidebar-small">
									<div class="theiaStickySidebar">

										<!-- BEGIN .widget -->
										<div class="widget">

											<h3>Automobile</h3>
											<div class="w-article-list">
												{% for post in category_automobile %}
												<div class="item">
													<div class="item-header">
														<a href="{% url 'post-detail' post.slug %}"><img src="{{post.image.url}}" alt="" /></a>
													</div>
													<div class="item-content">
														<div class="item-categories">
															<a href="{% url 'post-detail' post.slug %}" data-ot-css="color: #f37326;">{{post.category}}</a>
														</div>
														<h4><a href="{% url 'post-detail' post.slug %}">{{post.title}}</a></h4>
													</div>
												</div>
												{% endfor %}
												
												
											</div>

										<!-- END .widget -->
										</div>

										<!-- BEGIN .widget -->
										<div class="widget">

											<div class="do-space">
												<a href="#" target="_blank"><img src="{% static 'images/pob-2.jpg' %}" alt=""></a>
											</div>

										<!-- END .widget -->
										</div>

									</div>
								</aside>

								<!-- BEGIN .portus-main-content -->
								<div class="portus-main-content portus-main-content-s-2">
									<div class="theiaStickySidebar">
										
										<!-- BEGIN .portus-content-block -->
										<div class="portus-content-block">
											<div class="portus-content-title">
												<h2>Latest Articles</h2>
											</div>
											<div class="article-grid-default">
												
												<div class="article-grid-layout-2">
															{% for post in posts %}
															<div class="row">
																<div class="leftcolumn">
																	  <div class="card">
																		  <a href="#">
																		<h2><a href="{% url 'post-detail' post.slug %}">{{post.title}}</h2></a>
																		<h5>{{post.datetime}}</h5>
																		<img src="{{post.image.url}}" alt=" "/>
																		<p>{{post.meta_content}}</p></a>
																	  </div>
																	</div>
															</div>
															{% endfor %}
															{% if is_paginated %}
																{% for i in paginator.page_range%}
																	<button><a href="?page={{i}}" style="color:red;">{{i}}</a></button>
																{% endfor %}
															{% endif %}
														</div>
														</div>
														</div>
											</div>
										<!-- BEGIN .portus-content-block -->
										</div>
									</div>
								<!-- END .portus-main-content -->
								</div>
							</div>
						</div>
					<!-- ENd .portus-main-content-panel -->
					</div>
					<!-- BEGIN .portus-main-content-panel -->
					<div class="container">
					<div class="paragraph-row portus-main-content-panel">
						<div class="column12">
							<div class="portus-main-content-s-block">
								<!-- BEGIN .portus-main-content -->
								<div class="portus-main-content">
									<div class="theiaStickySidebar">	
										<!-- BEGIN .portus-content-block -->
										<div class="portus-content-block">
											<div class="portus-content-title">
												<h2>Mobbiles</h2>
								
											</div>
											<div class="article-blog-default">
												{% for post in category_mobbiles %}

												<div class="item">
													<div class="item-header item-header-hover">
														<div class="item-header-hover-buttons">
															<span data-hover-text-me="Read This Article"><a href="{% url 'post-detail' post.slug %}" class="fa fa-mail-reply"></a></span>
															<span data-hover-text-me="Add to Read Later"><a href="#" class="fa fa-plus"></a></span>
														</div>
														<a href="{% url 'post-detail' post.slug %}"><img src="{{post.image.url}}" alt="" /></a>
													</div>
													<div class="item-content">
														<h3><a href="{% url 'post-detail' post.slug %}">{{post.title}}</a></h3>
														<div class="item-meta">
															<a href="{% url 'post-detail' post.slug %}" class="item-meta-i"><i class="po po-head"></i>{{post.author}}</a>
															<span class="item-meta-i"><i class="po po-clock"></i>{{post.datetime}}</span>

														</div>
														<p>{{post.meta_content}}</p>
														<div class="item-helper-a">
															<a href="{% url 'post-detail' post.slug %}" class="button-alt button-alt-frame"><i class="fa fa-reply"></i>Read more</a>
															<a href="#" class="button-alt"><i class="fa fa-plus-circle"></i>Read later</a>
														</div>
													</div>
												</div>
												{% endfor %}
											</div>
										<!-- BEGIN .portus-content-block -->
										</div>

									</div>
								<!-- END .portus-main-content -->
								</div>

								<aside class="sidebar portus-sidebar-small">
									<div class="theiaStickySidebar">

										<!-- BEGIN .widget -->
										<div class="widget">

											<h3>PC/Laptops</h3>
											<div class="w-article-list">
												{% for post in category_computers %}
												<div class="item">
													<div class="item-header">
														<a href="{% url 'post-detail' post.slug %}"><img src="{{post.image.url}}" alt="" /></a>
													</div>
													<div class="item-content">
														<div class="item-categories">
															<a href="{% url 'post-detail' post.slug %}" data-ot-css="color: #f37326;">{{post.category}}</a>
														</div>
														<h4><a href="{% url 'post-detail' post.slug %}">{{post.meta_content}}</a></h4>
													</div>
												</div>
												{% endfor %}
										<!-- END .widget -->
										</div>

										<!-- BEGIN .widget -->
										<div class="widget">

											<div class="do-space">
												<a href="#" target="_blank"><img src="images/pob-2.jpg" alt="" /></a>
											</div>

										<!-- END .widget -->
										</div>

									</div>
								</aside>

								<aside class="sidebar portus-sidebar-large">
									<div class="theiaStickySidebar">

										<!-- BEGIN .widget -->
										<div class="widget">

											<h3>Gadget Reviews</h3>
											<div class="w-review-articles">
												{% for post in category_gadget_review %}
												<div class="item item-large">
													<div class="item-header item-header-hover">
														<div class="item-header-hover-buttons">
															<span data-hover-text-me="Read This Article"><a href="{% url 'post-detail' post.slug %}" class="fa fa-mail-reply"></a></span>
															<span data-hover-text-me="Add to Read Later"><a href="post.html#comments" class="fa fa-plus"></a></span>
														</div>
														<a href="{% url 'post-detail' post.slug %}"><img src="{{post.image.url}}" alt="" /></a>
													</div>
													<div class="item-content">
														<h4><a href="{% url 'post-detail' post.slug %}">{{post.title}}</a><a href="post.html#comments" class="post-title-comment"></h4>
													</div>
												</div>
												{% endfor %}
											</div>
											
										<!-- END .widget -->
										</div>
										<!-- BEGIN .widget -->
										<div class="widget">

											<div class="do-space">
												<a href="#" target="_blank"><img src="images/pob-3.jpg" alt="" /></a>
											</div>

										<!-- END .widget -->
										</div>
										
										
									</div>
								</aside>

							</div>
						</div>
					<!-- ENd .portus-main-content-panel -->
					</div>
					<!-- BEGIN .portus-main-content-panel -->
					<div class="paragraph-row portus-main-content-panel">
							<div class="column12">
								<div class="portus-content-title">
									<h2>Latest movies trailers</h2>
									<a href="blog.html" class="right set-this-dotted">view more videos</a>
								</div>
								<div class="portus-video-slider-min owl-carousel">
									{% for video in videos %}
									<div class="item">
										<a href="{{video.get_absolute_url}}" class="item-photo">
											<img src="{{video.thumbnail.url}}" alt="">
											<h1>{{video.title}}</h1>
										</a>
									</div>
									{% endfor %}

								</div>
							</div>
						<!-- ENd .portus-main-content-panel -->
						</div>

				<!-- END .wrapper -->
				</div>
				
			<!-- BEGIN #content -->
			</div>
			{% endblock %}
		
			
			<!-- BEGIN #footer -->
			<div id="footer">

				<div id="footer-widgets">
					<div class="wrapper">

						<div class="paragraph-row">
							<div class="column12">
								<!-- BEGIN .widget -->
								<div class="widget">

									<div class="do-space do-space-bg">
										<a href="#" target="_blank"><img src="images/pob-1.jpg" alt="" /></a>
										<strong>Sponsored advertisement</strong>
									</div>

								<!-- END .widget -->
								</div>
							</div>
						</div>

						<div class="paragraph-row">

							<div class="column3">
								<div class="widget">
									<div>
										<p><img src="images/footer-logo.png" data-ot-retina="images/footer-logo@2x.png" alt="" /></p>
										<p>Contact Detail</p>
									
										<div class="short-icon-text">
											<i class="fa fa-phone"></i>
											<span>9860476499</span>
										</div>
										<div class="short-icon-text">
											<i class="fa fa-location-arrow"></i>
											<span>Kathmandu, Nepal</span>
										</div>
										<div class="short-icon-text">
											<i class="fa fa-envelope"></i>
											<span>pudasainirajesh504@gmail.com</span>
										</div>
									</div>
								</div>
							</div>

							<div class="column3">
								<div class="widget">
									<h3>Jobs Post</h3>
									{% for post in category_jobs%}
									<div class="w-article-list w-article-list-small">

										<div class="item">
											<div class="item-header">
												<a href="#">
													<img src="{{post.image.url}}" alt="" data-ot-retina="">
												</a>
											</div>
											
											<div class="item-content">
												<h4><a href="#">{{post.title}}</a></h4>
												<span class="item-meta">
													<a href="blog.html" class="item-meta-i"><i class="po po-clock"></i>{{post.datetime}}</a>
												</span>
											</div>
										</div>
										{% endfor %}

									</div>
									<a href="blog.html" class="widget-view-more">View more articles</a>
								</div>
							</div>


						</div>

					</div>
				</div>
				
			<!-- END #footer -->
			</div>
		</div>>
	</div>

		<!-- Scripts -->
		<script type="text/javascript" src="{% static 'jscript/jquery-latest.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'jscript/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'jscript/owl.carousel.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'jscript/theia-sticky-sidebar.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'jscript/parallax.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'jscript/modernizr.custom.50878.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'jscript/iscroll.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'jscript/dat-menu.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'jscript/theme-scripts.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'jscript/ot-lightbox.min.js' %}"></script>
		<!-- Demo Only -->
		<script type="text/javascript" src="{% static 'jscript/_ot-demo.min.js' %}"></script>
		<script>
			// Animation time of revieling and hiding menu (defaut = 400)
			var _datMenuAnim = 400;
			// Animation effect for now it is just 1 (defaut = "effect-1")
			var _datMenuEffect = "effect-2";
			// Submenu dropdown animation (defaut = true)
			var _datMenuSublist = true;
			// If fixed header is showing (defaut = true)
			var _datMenuHeader = true;
			// Header Title
			var _datMenuHeaderTitle = 'Portus';
			// If search is showing in header (defaut = true)
			var _datMenuSearch = true;
			// Search icon (FontAwesome) in header (defaut = fa-search)
			var _datMenuCustomS = "fa-search";
			// Menu icon (FontAwesome) in header (defaut = fa-bars)
			var _datMenuCustomM = "fa-bars";
		</script>

		<script>
			jQuery('.portus-article-slider-min').owlCarousel({
				loop: true,
				margin: 22,
				responsiveClass: true,
				responsive:{
					0:{
						items: 1,
						nav: true
					},
					600:{
						items: 3,
						nav: false
					},
					1000:{
						items: 5,
						nav: true,
						loop: false
					}
				}
			});

			jQuery('.portus-video-slider-min').owlCarousel({
				loop: true,
				margin: 22,
				responsiveClass: true,
				responsive:{
					0:{
						items: 1,
						nav: true
					},
					600:{
						items: 2,
						nav: false
					},
					1000:{
						items: 4,
						nav: true,
						loop: false
					}
				}
			});

			jQuery('.portus-article-slider-big').owlCarousel({
				loop: true,
				margin: 0,
				responsiveClass: true,
				responsive:{
					0:{
						items: 1,
						nav: false
					},
					650:{
						items: 2,
						nav: false
					},
					1000:{
						items: 2,
						nav: true,
						loop: false
					}
				}
			});

			jQuery('.article-slider-full-small').owlCarousel({
				loop: true,
				margin: 20,
				responsiveClass: true,
				items: 1,
				nav: true,
				loop: false
			});

			jQuery('.w-gallery-slider .item-header').owlCarousel({
				loop: true,
				margin: 20,
				responsiveClass: true,
				items: 1,
				nav: true,
				loop: false
			});
		</script>

	<!-- END body -->
	</body>
<!-- END html -->


</html>